<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>상품 정보 페이지</title>
</head>
<body>
<h1>상품 목록 </h1>
<div th:replace="/fragments/layout.html :: fragment-body-menu"></div>


<div>
  <a href="?">
    전체 (<span th:text="${productTotalCount}">0</span>)</a>

  <th:block th:each="y : ${categoryList}">
    |
    <a th:href="'/product?categoryId=' + ${y.getId()}">
      <span th:text="${y.categoryName}">카테고리명</span> (<span
        th:text="${y.getProductCount()}">0</span>)</a>
  </th:block>

  <hr/>
</div>

<ul>
  <li th:each="x : ${list}">
    <div>
      <p th:text="${x.getProductName()}">상품명</p>
      <p th:text="${x.getKeyword()}">gg</p>
      <p>
        판매가: <span th:text="${x.getPrice()}"></span>
      </p>
      <p>
        남은 수량: <span th:text="${x.getProductQuantity()}"></span>
      </p>
    </div>
    </div>


  </li>
</ul>


</body>
</html>
