<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.personalproject.product.mapper.ProductMapper">


    <sql id="selectListWhere">

        <if test="searchType != null and searchValue != null">
            <choose>
                <when test="searchType == 'email'">
                    and email like concat('%', #{searchValue}, '%')
                </when>
                <when test="searchType == 'name'">
                    and name like concat('%', #{searchValue}, '%')
                </when>
                <when test="searchType == 'phoneNumber'">
                    and phone_number like concat('%', #{searchValue}, '%')
                </when>
                <otherwise>
                    and
                    (
                    user_id like concat('%', #{searchValue}, '%')
                    or
                    user_name like concat('%', #{searchValue}, '%')
                    or
                    phone like concat('%', #{searchValue}, '%')
                    )
                </otherwise>
            </choose>
        </if>

    </sql>


    <select id="selectListCount" resultType="long">
        select count(*)
        from product
        where 1 = 1
            <include refid="selectListWhere"/>
    </select>

    <select id="selectList" resultType="com.example.personalproject.product.dto.ProductDto">
        select *
        from product
        where 1 = 1
            <include refid="selectListWhere"/>
        order by reg_dt desc
        limit #{pageStart}, #{pageEnd}
    </select>

</mapper>
